/*TAG SELECTORS*/


body {
  background-color: #0c3c78;
}

h1 {
  color: #f30a49;
}

h3{
  color: #f30a49
}

p{
  color: #04879c;
}

li{
  color: #04879c;

}

hr {
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: grey;
  width: 5%;
}

/*CLASS SELECTORS*/
/* you can use classes in many attiribute in page*/
.picture{
  height: 200px;
}

.circular{
border-radius: 100%;
}

/*ID SELECTORS*/
/* you can use ids just in one attiribute*/
